@import "tailwindcss";

* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.scroll-offset {
  scroll-margin-top: 64px; /* Adjust based on your navbar height */
}

nav {
  border-bottom: 2px solid rgb(56, 56, 56);
}
.ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 91vh;
  background: url("/pexels-veeterzy-303383.jpg") center/cover no-repeat;
}

.link {
  font-weight: 500;
  font-size: large;
}
.tilt {
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  max-width: 300px;
  /* height: auto; */
  display: block;
}

/* ---------------- Typing styles ---------------- */
/* Text itself */
#tr .Typewriter__wrapper {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(to right, blue, purple, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  font-weight: bold;
  background: linear-gradient(to right, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Blinking cursor */
#tr .Typewriter__cursor {
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  color: #ff4c29;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.social button {
  transition: all 0.3s;
  width: 40;
  height: 40;
}
.heartbeat {
  animation: pulse 1s ease-in-out infinite;
  margin: 0 0.25rem; /* similar to mx-1 */
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

.social button:hover {
  /* transition: all; */
  scale: 1.1;
}

.skills {
  background: linear-gradient(to right, blue, purple);
}
.projects {
  background: linear-gradient(to right, blue, purple);
}
@media screen and (max-width: 525px) {
  #tr .Typewriter__wrapper {
    font-size: 1.5rem;
  }
  /* Blinking cursor */
  #tr .Typewriter__cursor {
    display: inline-block;
    font-size: 1.5rem;
  }
}
